*{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* .nav{
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
} */
.navigation{
  margin: 50px auto;
  width: 600px;
  height: 100px;
  box-shadow: 3px 3px 5px 0 #ccc;
}
.navigation>li{
  width: 100px;
  height: 100px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-right: none;
  text-align: center;
  line-height: 98px;
  color: #337ab7;
  cursor: pointer;
  background: white;
  user-select: none;
}
.navigation>.hover:hover{
  background: #eee;
}
.navigation .active{
  cursor: default;
  background: #6e6ef8cc;
  color: white;
}
.navigation>li:first-child{
  border-radius: 5px 0px 0px 5px;
}
.navigation>li:last-child{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}
